<md-dialog aria-label="extend trial dialog" class="extend-trial-dialog">
  <div class="extend-trial-dialog__close-btn">&times;</div>

  <div class="extend-trial-dialog__top" layout="row" layout-align="center center">
    <img ng-src="https://s3.amazonaws.com/static.caloriecount.about.com/images/medium/stouffers-lean-cuisine-pasta-8328.jpg" alt="pasta" class="extend-trial-dialog__endorser-img"/>
    <div layout="column" layout-align="start end" class="extend-trial-dialog__endorsement-container">
      <div>
        "Our association members have never been more engaged. This is something special."
      </div>

      <div class="extend-trial-dialog__endorser-name">
        <b>- Charles, Social Media Group</b>
      </div>
    </div>
  </div>

  <div layout="column" layout-align="center center">
    <h2 class="extend-trial-dialog__header">We're happy to give you as much time as you need to try out Cobudget</h2>

    <div class="extend-trial-dialog__subheader">We'll ask you how you're going in 30 days</div>

    <div class="extend-trial-dialog__btns-container" layout="column" layout-align="center center">
      <md-button class="extend-trial-dialog__subscription-btn">Extend my Trial</md-button>

      <a href="" class="extend-trial-dialog__back-btn"><b>Back</b></a>
    </div>
  </div>
</md-dialog>
