.confirm-account-page__toolbar {
  background: $cobudget-gunmetal;
  color: white;
}

.confirm-account-page__content {
  max-width: 640px;
  margin: 0 auto;
}

.confirm-account-page__heading {
  @include fontGrande;
}

.confirm-account-page__submit-btn {
  margin: 0;
  border: 1px solid $cobudget-gunmetal;
  width: 100%;
  margin-top: 10px;
}